@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Kurale|Libre+Franklin|Marcellus+SC');
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.title{
font-family: 'Marcellus SC', serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 6px #E6E6E6;
}
header{
	width: 100%;
	background: #4E94AB;
}

#btn-menu {
	display: none;
}
header label{
	display: none;
	width: 30px
	height: 30px;
	border-right: 1px solid #fff;
}
header label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}
.menu li:hover{
	background: rgba(0,0,0,0.3);
}
.menu li a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}