@charset "utf-8";
/*INICIO DEL HEADER*/
*{
  border: 0;
  margin: 0;
  padding: 0;
}
header{
  background: #F4A460;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*DIVS DEL MENU*/
.logo{
  width: 15%;
  height: 10%;
  display: flex;
}
.menu{
  width: 60%;
  height: 10%;
  display: flex;
  flex-direction: row;
}
div ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.iconomenu{
  width: 65%;

}
.login{
  width: 20%;
  height: 10%;
  display: flex;
  flex-direction: column;
}
.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
/* FIN DE HEADER */
/* Margen*/
.imagen{
  float: left;
  width: 300px;
  border:5px solid #000;
  padding:10px;
  margin:5px;
}
.styleH1{
  float: none;
  color: gray;
  font-family: "fantasy", "Arial";
}
.styleP{
  font-family: "sans-serif", "Times New Roman";
}
.boton{
  text-decoration: none;
  padding: 8px;
  font-weight: 200;
  font-size: 16px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  float: inherit;
  width: 20%;
  text-align: center;
  margin-right: 3%;
}
.boton:hover{
  color: #1883ba;
  background-color: #ffffff;
}


/*footer*/
 #pie{
	width: 1900px;
	height: 280px;
	float: :left;
	clear: both;
	margin-top: 50px;
	box-shadow: 5px 5px 5px #000;
		-moz-box-shadow: 5px 5px 5px #000;
		-webkit-box-shadow: 5px 5px 5px #000;
	border-radius: 5px;
	/*ckground: #FE2E64;*/
	background: -webkit-radial-gradient(center, circle, #FA5882, #FE2E64);
}
footer section {
	width: 310px;
	float: left;
	padding: 20px;
}
footer #descubre{
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #FAFAFA;
	text-align: justify;
	line-height: 20px;
}
footer #descubre h3 {
	font-size: 20px;
	margin-bottom: 5px;
}
footer #ubi{
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #FAFAFA;
	text-align: justify;
	line-height: 20px;
}
footer #ubi h3{
	font-size: 20px;
	margin-bottom: 5px;
}
footer #aten{
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #FAFAFA;
	text-align: justify;
	line-height: 20px;
}
footer #aten h3{
	font-size: 20px;
	margin-bottom: 5px;
}
footer #unete{
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #FAFAFA;
	text-align: justify;
	line-height: 20px;
}
footer #unete h3{
	font-size: 20px;
	margin-bottom: 5px;
}
.imgredonda{
	height: 250px;
	width: 280px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 100% auto;
}
#pie2{
	border-radius: 5px;
	clear: both;
	margin-top: 50px;
	font-family: Arial, Helvetica;
	background: -webkit-radial-gradient(center, circle, #FE9A2E, #FF8000);
}
}
